/*
 ** Base
 */

body {
  background-color: $COLOR_VERY_DARK_YELLOW;
  /* stylelint-disable */
  font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', YuGothic,
    'Yu Gothic', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'メイリオ',
    Meiryo, 'ＭＳ ゴシック', sans-serif;
  /* stylelint-enable */
  font-size: 16px;
  line-height: 1.8;
}

a {
  color: $COLOR_WHITE;
  display: inline-block;
  text-decoration: none;

  &:hover {
    color: rgba($COLOR_WHITE, 0.9);
  }
}

::selection {
  background-color: lightgray;
  color: $COLOR_WHITE;
}

.container {
  padding-left: 16px;
  padding-right: 16px;

  @include mq(md) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @include mq(lg) {
    min-width: 980px;
    padding-left: 64px;
    padding-right: 64px;
    width: 980px;
  }
}

/*
 ** Utility
 */

.loadingAnimation {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  & > div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: $COLOR_WHITE;
    animation: loadingAnimation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }

  & > div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }

  & > div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }

  & > div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
}

@keyframes loadingAnimation {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
