.loadingAnimation {
  @apply inline-block relative w-20 h-20;

  & > div {
    @apply inline-block absolute left-2 w-4 dark:bg-white;
    animation: loadingAnimation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }

  & > div:nth-child(1) {
    @apply left-2;
    animation-delay: -0.24s;
  }

  & > div:nth-child(2) {
    @apply left-8;
    animation-delay: -0.12s;
  }

  & > div:nth-child(3) {
    @apply left-14;
    animation-delay: 0;
  }
}

@keyframes loadingAnimation {
  0% {
    @apply top-2 h-4;
  }

  50%,
  100% {
    @apply top-6 h-8;
  }
}
