/**
 * Colors
 */
$COLOR_BLACK: #000;
$COLOR_VERY_DARK_YELLOW: #141204;
$COLOR_VERY_DARK_GRAY: #393939;
$COLOR_DARK_GRAY: #9e9e9e;
$COLOR_VERY_LIGHT_GRAY: #dbdbdb;
$COLOR_WHITE: #fff;

/**
  * Breakpoints
  */
$breakpoints: (
  'sm': '(min-width: 640px)',
  'md': '(min-width: 768px)',
  'lg': '(min-width: 1024px)',
  'xl': '(min-width: 1280px)',
  '2xl': '(min-width: 1536px)',
) !default;
