body {
  @apply bg-gray-100 dark:bg-gray-900 text-base dark:text-white leading-relaxed;

  /* stylelint-disable */
  font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', YuGothic,
    'Yu Gothic', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'メイリオ',
    Meiryo, 'ＭＳ ゴシック', sans-serif;
  /* stylelint-enable */
}

a {
  @apply inline-block no-underline text-black dark:text-white hover:opacity-80;
}

p {
  @apply text-gray-500 dark:text-gray-400;
}

::selection {
  @apply dark:bg-gray-400 dark:text-white;
}

.container {
  @apply px-4 md:px-8 lg:px-16;
}

@media (min-width: 1024px) {
  .container {
    width: 900px;
    min-width: 900px;
  }
}

@media (min-width: 1536px) {
  .container {
    width: 1024px;
    min-width: 1024px;
  }
}
